# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Go
backend/tmp/
backend/go.sum

# Node
frontend/node_modules/
frontend/dist/

# Docker
docker-compose.override.yml
